/*
#####################################################################

base.css:共通項目や凡用クラス、基本レイアウト
reset.css:リセットのみ
style.css:その他各ページごとに（今後ページが増えたら分割します）

memo hattori 2016/02/17

#####################################################################
*/





/*
#####################################################################

サイト全体の基本設定

#####################################################################
*/


/* ****************************************************
フォント
***************************************************** */
body {
    color: #666;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size:16px;
    line-height: 1.7em;
    letter-spacing:0.02em;
}




/* ****************************************************
リンク
***************************************************** */
a:link{color:#ff5f0d;text-decoration: underline;}
a:visited{color:#ff5f0d;text-decoration: underline;}
a:hover,
a:focus,
a:active{color:#ff5f0d;
    text-decoration:none;
    filter: alpha(opacity=80);
    -moz-opacity:0.8;
    opacity:0.8;
}











/*
#####################################################################

汎用クラス

#####################################################################
*/

/* ****************************************************
下層タイトル周り
***************************************************** */

.page h1{
    font-size:20px;
    border-bottom: 4px solid #fc6025;
    padding:10px;
    color: #fc6025;
    margin:10px;
    letter-spacing:.6em;
}




/* ****************************************************
テキスト関係
***************************************************** */

p{color:#666;font-size:14px;line-height: 1.5em;}
.txtRed{ color: ;}
.txtS{ font-size: 12px;}
.txt_center{text-align: center;}

/* ****************************************************
余白追加
***************************************************** */

.mgB10{margin-bottom: 10px;}
.mgB20{margin-bottom: 20px;}





/* ****************************************************
Clear fix
***************************************************** */

.clearfix:after {
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ".";
    font-size: 0;
    line-height: 0;
}

.clearfix {
    min-height: 1px;
}











/*
#####################################################################

レイアウト

#####################################################################
*/


/* ****************************************************
ヘッダー
***************************************************** */

#header{
    border-bottom:1px solid rgb(172, 172, 172);
    background-image: -moz-linear-gradient( 90deg, rgb(236,234,235) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(236,234,235) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(236,234,235) 0%, rgb(255,255,255) 100%);
    height: 60px;
    position: relative;
}

#header .header-logo,
#footer .header-logo{
    font-size: 10px;
    color: #ff5f0d;
    width: 100%;
    margin: 0 auto;
    line-height: 1em;
    margin:0px auto;
    text-align: center;
    padding-top: 5px;
}

#header .header-logo img,
#footer .header-logo img{
    display: block;
    margin: 0 auto;
    width: 48px;
    margin-top: 5px;
}

#header .bt-toggle{
    position: absolute;
    top:15px;
    right:20px;
    width: 38px;
    height:34px;
    background-image: url(../images/common/bt_menu.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}

#header .bt-toggle.active{background-image: url(../images/common/bt_close.png);}



/* ****************************************************
ナビ
***************************************************** */


/*グローバルナビ
=========================================*/

.gnavi{
    background-color: #ff5f0f;
}

.gnavi li a{
    display: block;
    background: url(../images/common/icon_arrow_menu.png) no-repeat 95% 50%;
    background-size: 7px 12px;
    padding: 10px;
    border-top:1px solid #ff7530;
    border-bottom:1px solid #ff7530;
}
.gnavi li{
    border-top:1px solid #eb4f0c;
    border-bottom:1px solid #eb4f0c;
}

.gnavi a:link{color: #fff; text-decoration: none;}
.gnavi a:visited{color: #fff; text-decoration: none;}
.gnavi a:hover{color: #fff; text-decoration: none;}




/*フッターナビ
=========================================*/


.bnavi{
    background-color: #fffaec;
    padding: 0 auto;
    text-align: center;
}

.bnavi li:first-child{border-left: 2px solid #6b6b6b;}
.bnavi li{
    display: inline-block;
    margin:25px 0;
    border-right: 2px solid #6b6b6b;
}
.bnavi a:link{
    color: #ff5f0d;
    font-size: 12px;
    display: inline-block;
    padding: 0 30px;
    text-decoration: none;
}

.bnavi a:visited{text-decoration: none;}
.bnavi a:hover{text-decoration: none;}



.bnavi{
    background-color: inherit;
}


.bnavi a:link{
    color: #6b6b6b;
}





/* ****************************************************
横幅100%コンテンツブロック
***************************************************** */

.block-full{width: 100%;}



/* ****************************************************
横幅固定(980px)コンテンツブロック
***************************************************** */

.block-fix{width: ;margin: 0 auto;}


/* ****************************************************
フッター
***************************************************** */

#footer{
    background-color: #f8f8f8;
    /* コンバージョンタグによる空白部分の対応 */
    margin-bottom:-25px;
}

.pagetop{
    padding-top: 30px;
}
.pagetop a{
    display: block;
    margin: 0 auto ;
    width: 110px;
}

#footer small{
    font-size: 12px;
    text-align: center;
    display: block;
    padding: 0 0 20px;
}

.widthyou{
    background-color: #fff9e9;
    text-align: center;
    padding: 50px 0;
}


/*ブロック名
=========================================*/



